<div class="faq">
  <div class="content">
    <h1>Frequently Asked Questions</h1>

    <div id=FAQContent>
      <div class="gridcontainer">
          <div class="gridbox">
              <h4>How long is HackUNT?</h4>
              <hr>
              <h5>HackUNT 2019 is from Saturday April 6th to Sunday April 7th. Students will be hacking for 24 hours. Don't worry though, there will be plenty of energy drinks.</h5>
          </div>
        <div class="gridbox">
          <h4>What is a Hackathon?</h4>
          <hr>
          <h5>A Hackathon is a programming marathon, where teams of 1-4 put their ideas together to create something exciting in only 24 hours. It gives teams of creators a chance to turn their ideas into reality.</h5>
        </div>
        <div class="gridbox">
          <h4>Who can attend?</h4>
          <hr>
          <h5>To attend as a hacker, you need to be a student and at least 18 years old. Unfortunately we are unable to accept participants under the age of 18.</h5>
        </div>
        <div class="gridbox">
          <h4>Travel reimbursements?</h4>
          <hr>
          <h5>We are not offering travel reimbursements at this time, but could in the future. Check back at a later date for updates!</h5>
        </div>
        <div class="gridbox">
          <h4>What about sleep?</h4>
          <hr>
          <h5>We do not officially have a sleeping area, however there will be lounge areas to rest from your hard work! But who needs sleep when you have Highbrew?!</h5>
        </div>
        <div class="gridbox">
          <h4>Who is accepted?</h4>
          <hr>
          <h5>UNT students get automatic acceptance. Applicants from other schools will get randomly selected. Don't worry if you haven't heard back, we send out acceptances in waves.</h5>
        </div>
        <!--
        <div class="gridbox">
          <h4>HOW DO I WATCH THE LIVESTREAM?</h4>
          <hr>
          <h5>Our live site will be available during the event at live.unthackathon.com!</h5>
        </div>
        -->
        <div class="gridbox">
          <h4>Any rules?</h4>
          <hr>
          <h5>All work must be done at HackUNT 2019. We also adhere by MLH's Code of Conduct, which you can find
            <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
              here.
            </a>
          </h5>
        </div>
        <div class="gridbox">
          <h4>What do I need to bring?</h4>
          <hr>
          <h5>All you need is your student ID and anything you want to use in your hack!</h5>
        </div>
        <div class="gridbox">
            <h4>Got more questions?</h4>
            <hr>
            <h5>Reach out to us at <a href="mailto:officialhackunt@gmail.com">officialhackunt@gmail.com</a> with your questions!</h5>
          </div>
      </div>
    </div>
  </div>
</div>
