<div class="faq">
  <div class="">
    <hr />
    <h2>FREQUENTLY ASKED QUESTIONS</h2>
    <hr />
  </div>
  <div id=FAQContent>
    <div class="flexcontainer">
      <div class="flexbox">
        <h4>WHAT IS HACKUNT?</h4>
        <hr>
        <h5>It's a Hackathon in the University of North Texas, open to students around the world! We provide WiFi, power, and food while you and your team create something new.</h5>
      </div>
      <div class="flexbox">
        <h4>WHAT IS A HACKATHON?</h4>
        <hr>
        <h5>A Hackathon is a programming marathon, where teams of 2-4 put their ideas together to create something exciting in only 24 hours. It gives teams of hackers a chance to turn their ideas into reality.</h5>
      </div>
      <div class="flexbox">
        <h4>CAN I ATTEND?</h4>
        <hr>
        <h5>To attend as a hacker, you need to be a university student or have left university in the past year. Apologies, but we are unable to accept participants under the age of 18..</h5>
      </div>
      <div class="flexbox">
        <h4>TRAVEL REIMBURSEMENTS?</h4>
        <hr>
        <h5>We are not offering travel reimbursements at this time, but could in the future. Check back at a later date or message the team at OfficalHackUNT@gmail.com regarding your issue!</h5>
      </div>
      <div class="flexbox">
        <h4>WHAT ABOUT SLEEP?</h4>
        <hr>
        <h5>We have a limited amount of space for sleeping with a limited amount of sleeping supplies. We recommend bringing sleep gear like a sleeping bag, pillow, or blanket.</h5>
      </div>
      <div class="flexbox">
        <h4>HOW DO I REGISTER?</h4>
        <hr>
        <h5>We usually release tickets in rounds. Check back later for more info!</h5>
      </div>
      <div class="flexbox">
        <h4>HOW DO I WATCH THE LIVESTREAM?</h4>
        <hr>
        <h5>Go to URL and select Livestream from the navigation menu located at the top of our website</h5>
      </div>
      <div class="flexbox">
        <h4>WHAT IS THE CODE OF CONDUCT?</h4>
        <hr>
        <h5>We adhere by MLH's Code of Conduct, which you can find
          <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
            here
          </a>
        </h5>
      </div>
      <div class="flexbox">
        <h4>WHAT DO I NEED TO BRING?</h4>
        <hr>
        <h5>All you need is your student ID and anything you want to use in your hack!</h5>
      </div>
    </div>
    <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>WHAT IS HACKUNT?</h4>
        <hr>
        <h5>It's a Hackathon in the University of North Texas, open to students around the world! We provide WiFi, power, and food while you and your team create something new.</h5>
      </div>
      <div class="col-sm-4">
        <h4>WHAT IS A HACKATHON?</h4>
        <hr>
        <h5>A Hackathon is a programming marathon, where teams of 2-4 put their ideas together to create something exciting in only 24 hours. It gives teams of hackers a chance to turn their ideas into reality.</h5>
      </div>
      <div class="col-sm-4">
        <h4>CAN I ATTEND?</h4>
        <hr>
        <h5>To attend as a hacker, you need to be a university student or have left university in the past year. Apologies, but we are unable to accept participants under the age of 18..</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>TRAVEL REIMBURSEMENTS?</h4>
        <hr>
        <h5>We are not offering travel reimbursements at this time, but could in the future. Check back at a later date or message the team at OfficalHackUNT@gmail.com regarding your issue!</h5>
      </div>
      <div class="col-sm-4">
        <h4>WHAT ABOUT SLEEP?</h4>
        <hr>
        <h5>We have a limited amount of space for sleeping with a limited amount of sleeping supplies. We recommend bringing sleep gear like a sleeping bag, pillow, or blanket.</h5>
      </div>
      <div class="col-sm-4">
        <h4>WHAT DO I NEED TO BRING?</h4>
        <hr>
        <h5>Your ticket, Student ID and a laptop with its charger. That's about it!</h5>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4>HOW DO I REGISTER?</h4>
          <hr>
          <h5>We usually release tickets in rounds. Check back later for more info!</h5>
        </div>
        <div class="col-sm-4">
          <h4>HOW DO I WATCH THE LIVESTREAM?</h4>
          <hr>
          <h5>Go to URL and select Livestream from the navigation menu located at the top of our website</h5>
        </div>
        <div class="col-sm-4">
          <h4>WHAT IS THE CODE OF CONDUCT?</h4>
          <hr>
          <h5>
            <a href="">
              Code of Conduct
            </a>
          </h5>
        </div>
      </div>
    </div>
  </div> -->
  <br>
</div>