<div class="container" align="center">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
  <hr>
</div>
<div id=FAQContent>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>WHAT IS HACKUNT?</h4>
      <hr>
      <h5>It's a Hackathon in the University of North Texas, oh5en to students around the world! We h5rovide WiFi, h5ower, and food while you and your team create something new.</h5>
    </div>
    <div class="col-sm-4">
      <h4>WHAT IS A HACKATHON?</h4>
      <hr>
      <h5>A Hackathon is a programming marathon, where teams of 2-4 put their ideas together to create something exciting in only 24 hours. It gives teams of hackers a chance to turn their ideas into reality.</h5>
    </div>
    <div class="col-sm-4">
      <h4>CAN I ATTEND?</h4>
      <hr>
      <h5>To attend as a hacker, you need to be a university student or have left university in the past year. Apologies, but we are unable to accept under 18s.</h5>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>TRAVEL REIMBURSEMENTS?</h4>
        <hr>
        <h5>Sorry, we are unable to provide travel reimbursements for HackSheffield 3.0.</h5>
      </div>
      <div class="col-sm-4">
        <h4>WHAT ABOUT SLEEP?</h4>
        <hr>
        <h5>If you want to sleep, we should have some rooms where you can get some Z's.</h5>
      </div>
      <div class="col-sm-4">
        <h4>WHAT DO I NEED TO BRING?</h4>
        <hr>
        <h5>Your ticket, Student ID and a laptop with its charger. That's about it!</h5>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4>HOW DO I REGISTER?</h4>
          <hr>
          <h5>We usually release tickets in rounds. Check back later for more info!</h5>
        </div>
        <div class="col-sm-4">
          <h4>HOW DO I WATCH THE LIVESTREAM?</h4>
          <hr>
          <h5>Go to URL and select Livestream from the navigation menu located at the top of our website</h5>
        </div>
        <div class="col-sm-4">
          <h4>WHAT IS THE CODE OF CONDUCT?</h4>
          <hr>
          <h5>Insert Code of Conduct Link</h5>
        </div>
      </div>
    </div>
  </div>
  <br>