@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
h1, h2, h4 {
    font-family: "Raleway";
    font-weight: 700;
    color: white;
}

h5 { 
    color: white;
    line-height: 135%;
}

.col-sm-4 {
    padding: 10px;
}
#FAQContent {
    background-color: rgba(0, 0, 0, 0.504);
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 3%;
}