<div class="container">
          <div class="text-center center-block">
            <a href="https://www.facebook.com/OfficialHackUNT" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/OfficialHackUNT" target="_blank"><i id="social-tw" class="fa fa-twitter fa-3x social" target=_blank ></i></a>
            <a href="mailto:officialhackunt@gmail.com" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            <a href="https://communityinviter.com/apps/hackunt/hackunt" target="_blank"><i id="social-sl" class="fa fa-slack fa-3x social"></i></a>
            <a href="https://www.reddit.com/r/unt/" target="_blank"><i id="social-rd" class="fa fa-reddit-alien fa-3x social"></i></a>
          </div>
          <div class=" text-center copyright">
              <i class="fa fa-copyright" aria-hidden="true">
                <i id="copyright-text">
                  Copyright 2018 HackUNT
                </i></i>
          </div>
        </div>
<br>