.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
#containerstyle{
    text-align: center;
    color: white;
    font-family: "Raleway";
    font-weight: bold;
}
hr{
    width: 50%;
}
#copyright-text {
    margin-top: 10px;
    font-family: "Raleway";
}
/*
   Multicoloured Hover Variations
*/
.container{
    background-color: black;
    width: 100%;
    min-height: 15vh;
    max-height: 100%;
}
.fa {
    color: #ffffff;
    text-shadow: 0px 1px 5px rgb(0, 88, 1);
}
.txt-railway{
    color: #ffffff
}
#social-fb {
    color: #ffffff
}
#social-fb:hover {
    color: rgb(88, 120, 183);
}
#social-tw {
    color: #ffffff
}
#social-tw:hover {
    color: #4099FF;
}
#social-rd {
    color: #ffffff
}
#social-rd:hover {
    color: #d34836;
}
#social-em{
    color: #ffffff
}
#social-em:hover {
    color: #f39c12;
}
#social-sl {
    color: #ffffff
}
#social-sl:hover {
    color: #373737
}
#social-rd {
    color: #ffffff
}
#social-rd:hover {
    color: #f6381b
}