<div class="mlh-container">
  <hr />  
  <h1>MLH</h1>
  <hr />
  <p>Please see the following documents for information regarding MLH's code of conduct and policies.</p>
  <div align="center">      
      <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank"><button class="btn">Code of Conduct</button></a>      
      <a href="https://github.com/MLH/mlh-policies/blob/master/data-sharing.md" target="_blank"><button class="btn">Data Sharing Notice</button></a>          
  </div>
  <br />
</div>
