@media only screen and (max-width: 1000000px) {
    p {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 25px;
    }
}
  
@media only screen and (max-width: 320px) {
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
}

h1, h2 {
    font-family: "Raleway";
    color: white;
    text-align: center;
    font-weight: 700;
}

h1, h2 {
    font-family: "Raleway";
    color: white;
    text-align: center;
    font-weight: 700;
}

.mlh-container {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14pt;
}

.mlh-container ul {
    text-align: left;
}

a:link {
    color: rgb(4, 58, 4);
}
a:visited {
    color: black;
}
a:hover {
    /* color: #D48359; */
    color: black;
}