<div class="container">
  <h2>GENERAL INFORMATION</h2>
  <hr>
  <h4>HackUNT 2017 is going to take place from {{ StartDate }} to {{ EndDate }} in {{ Location }} </h4>
  <h5>For information on competition times and events, please go to "SCHEDULE" in the navigation bar</h5>
</div>
<div id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1668.2395842563935!2d-97.15399029184047!3d33.25394569520766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864db595e854e1a1%3A0x3a9a9ff3cc14dfe3!2sUniversity+of+North+Texas+Discovery+Park%2C+3940+N+Elm+St%2C+Denton%2C+TX+76207!5e0!3m2!1sen!2sus!4v1510418041781" 
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>
</div>
<!-- Shit way to fix a small problem -->
<br>
<br>
<br>