
h1, h2, h4, h5 {
    font-weight: 700;
    color: white;
    text-align: center;
}
#map{
    width: 100%;
    height: 450px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map * {
    overflow: visible;
}

.content {
    padding: 5% 0% 5% 0%;
    color: #07a24f;
    max-width: 1600px;
    margin: 0 auto
}

.container {
    height: 80vh;
}
