h1, h2, h4, h5 {
    font-family: "Raleway";
    font-weight: 700;
    color: white;
    text-align: center;
}
#map{
    width: 100%;
    height: 450px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map * {
    overflow: visible;
}
