<div class="sponsor-container">
    <div class="content">
        <h1>2019's Sponsors</h1>
        <div>
            <h4>Interested in sponsoring HackUNT 2019? <a href="../../assets/files/HackUNTSponsorForm_2019.pdf" target="_blank">Look at this!</a></h4>
            <h4>Big thanks to all our sponsors!</h4>
        </div>

        <div class="flexcontainer">
            <a href="https://www.statefarm.com/" target="_blank" class="flexbox" id="titlesponsor"><div><img class="sponsor" src="../../assets/sponsors/statefarm.png" /></div></a>        
        </div>

        <div class="flexcontainer">
            <a href="https://github.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/GitHub_Logo_White.png" /></div></a>
            <a href="https://www.copart.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/Copart.PNG" /></div></a>
            <a href="https://www.tylertech.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/tylertech.png" /></div></a>        
            <a href="https://www.samsung.com/us/support/owners/app/samsung-internet" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/logo-Samsung-Dark_Font.svg"/></div></a>
            <a href="http://www.agglo.io/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/agglo.png" /></div></a>        
            <a href="https://about.google/intl/en/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/google.png" /></div></a>        
            <a href="https://chilosomexicanbistro.com/" target="_blank" class="flexbox"><div><img class="sponsor" id="chilosologo" src="../../assets/sponsors/chilosologo2.png" /></div></a>
            <a href="https://www.highbrewcoffee.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/HB_Logo.svg" /></div></a>                
            <a href="http://www.gogosqueez.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/gogosqueeze.svg" /></div></a>        
            <a href="https://www.premiumpopperspopcorn.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/prempopcorn.svg" /></div></a> 
            <a href="https://www.stickergiant.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/stickergiantlogo.png" /></div></a>       
            <a href="https://estimote.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/estimote.png" /></div></a>       
            <a href="https://www.blumaniaenergy.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/BLUMANIA.png" /></div></a>       
            <a href="https://studentaffairs.unt.edu/org/student-government-association/services/eagles-nest-funding" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/eaglesnest.png" /></div></a>       
        </div>

        <div id="partnersid" class="anchor">
                <h1>Our Partners</h1>
        </div>
        <div class="flexcontainer">
            <a href="https://stokedenton.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/stoke.png" /></div></a>       
            <a href="https://untcybersecurity.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/UNTCyberSecurityClubLogo.png" /></div></a>
            <a href="https://www.untrobotics.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/robotics.png" /></div></a>
        </div>
    </div>
</div>
