<div>
  <div class="" align="center">
      <hr />
      <h1>Our Team</h1>
      <hr>
  </div>
  <br /><br /><br />
  <div class="flexcontainer tier1">
      <!-- Zach Eisenhauer -->
      <a href="https://www.linkedin.com/in/zacheisenhauer/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/zacheisenhauer.png" />
          <p class="name">Zach Eisenhauer</p><p class="title">Founder</p>
        </div>
        <div class="bio">
          <p>
            Zach Eisenhauer is a Senior at UNT and is the founder of HackUNT.
            He has been president of the UNT IEEE Computer Society and UNT Cyber Security Club.
            He is majoring in Computer Science and could really use an energy drink right now.
          </p>
        </div>
      </a>
      

      <!-- Brayden Cloud -->
       <a href="https://www.linkedin.com/in/brayden-cloud/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/braydencloud.png" />
          <p class="name">Brayden Cloud</p><p class="title">President + Co-Founder</p>
        </div>
        <div class="bio">
          <p> 
            Brayden Cloud is a Sophomore at UNT, and one of the founders of HackUNT. 
            He is majoring in Computer Science and prefers tabs over spaces.
          </p>
        </div>
      </a>

      <!-- Gabriel Castro -->
       <a href="https://www.linkedin.com/in/gabriel-castro-7806b014b/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/gabrielcastro.png" />
          <p class="name">Gabriel Castro</p><p class="title">Vice-President</p>
        </div>
        <div class="bio">
          <p>
            Gabriel Castro is a Sophomore at UNT, and one of the founders of HackUNT.
            He is majoring in Computer Science and writes his programs using Word.
          </p>
        </div>
      </a>

      <!-- Vanessa Esparza -->
      <a href="https://www.linkedin.com/in/vanessacesparza/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/vanessaesparza.jpg" />
          <p class="name">Vanessa Esparza</p><p class="title">Logistics Director</p>
        </div>
        <div class="bio">
          <p>
            Vanessa Esparza is a Senior at UNT and a founding member of HackUNT.
            She loves rock climbing, traveling, and jamming out to music.
            She is majoring in Business Computer Information Systems and she has a tacocat.
          </p>
        </div>
      </a>


      <!-- Arham Kothari -->
      <a href="https://www.linkedin.com/in/arham-kothari/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/arhamkothari.png" />
          <p class="name">Arham Kothari</p><p class="title">Webmaster/p>
        </div>
        <div class="bio">
          <p>
            Arham Kothari is a sophomore at UNT studying computer science. 
            He loves playing surviv.io, listening to the Weeknd, and prefers Table Tennis over Ping Pong.
          </p>
        </div>
      </a>

      <!-- Noelle Franklin -->
      <a href="https://www.linkedin.com/in/noelle-franklin/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/noellefranklin.png" />
          <p class="name">Noelle Franklin</p><p class="title">Marketing Director</p>
        </div>
        <div class="bio">
          <p>
            Noelle Franklin is a senior at UNT studying communication, marketing, and merchandising. 
            She started an animal welfare org on campus and has a cat named Mildred.
          </p>
        </div>
      </a>
  
      <!-- Garrett Wescott -->
      <a href="https://www.linkedin.com/in/garrett-wescott/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/garrettwescott.jpeg" />
          <p class="name">Garrett Wescott</p><p class="title">Outreach Director</p>
        </div>
        <div class="bio">
          <p>
            Garrett Wescott is a senior at UNT in Business Informations Systems and has been a UNT staffer for 2 years. 
            He has a passion for competitive esports and is a proud cat dad!
          </p>
        </div>
      </a>
  
       

    </div>
  <br />
  <br />
  <div class="flexcontainer tier2">
    <!-- Zach Langley -->
    <a href="https://www.linkedin.com/in/z-langley/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/zachlangley.jpg" />
        <p class="name">Zach Langley</p><p class="title">Graphic and Web Designer</p>
      </div>
    </a>

    <!-- Jesse Culver -->
    <a href="https://www.linkedin.com/in/jesseculver/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/jesseculver.png" />
        <p class="name">Jesse Culver</p><p class="title">UNT Cyber Security</p>
      </div>
    </a>

    <!-- Peyton Pritchard -->
    <a href="https://www.linkedin.com/in/peyton-pritchard-cybersecurity/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/peytonpritchard.png" />
        <p class="name">Peyton Pritchard</p><p class="title">IEEE Computer Society</p>
      </div>
    </a>

    <!-- Scotty Shaw -->
    <a href="https://www.linkedin.com/in/scottyshaw/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/scottyshaw.png" />
        <p class="name">Scotty Shaw</p><p class="title">Advisor</p>
      </div>
    </a>

    <!-- Chalet Shelton -->
    <a href="https://www.linkedin.com/in/chalet-shelton-077a0511b/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/chaletshelton.png" />
        <p class="name">Chalet Shelton</p><p class="title">CTF Captain</p>
      </div>
    </a>

  </div>
</div>
