@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
h1, h2, h4, h5 {
  font-family: "Raleway";
  color: white;
  text-align: center;
  font-weight: 700;
}
li {
  list-style-type: none;
  margin: 30px;
}

.logo {
  width: 100%;
  max-width: 500px;
}

#topTier{
  align-content: center;
}
#filler{
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}
.btn {
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px, 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgb(0, 88, 1);
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#sponsorus {
  color: white;
  text-decoration: none;
}

button:hover{
  background-color: #07a24f;
}

.heading{
  text-align: right;
}

.flexcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
 
.tier1 > .flexbox {
  max-width: 200px;
} 
.tier2 > .flexbox {
  max-width: 150px;
}

.flexbox {
  width: 100%;
  flex-shrink: 1;
  margin: 10px;
  text-align: center;
  text-decoration: none;      
}
.flexbox img {
    max-width: 70%;
}

.staff, .bio {
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}

.flexbox:hover .staff{
  -webkit-transform:scale(.75) translate(0px, -50px); /* Safari and Chrome */
  -moz-transform:scale(.75) translate(0px, -50px); /* Firefox */
  -ms-transform:scale(.75) translate(0px, -50px); /* IE 9 */
  -o-transform:scale(.75) translate(0px, -50px); /* Opera */
   transform:scale(.75) translate(0px, -50px);
   text-decoration: none;   
}

.flexbox:hover .bio{
    color: white;
    font-size: 12px;      
    -webkit-transform:scale(1.25) translate(0px, -30px); /* Safari and Chrome */
    -moz-transform:scale(1.25) translate(0px, -30px); /* Firefox */
    -ms-transform:scale(1.25) translate(0px, -30px); /* IE 9 */
    -o-transform:scale(1.25) translate(0px, -30px); /* Opera */
     transform:scale(1.25) translate(0px, -30px);
     text-decoration: none; 
  }

.staffimg {
    border-radius: 50%;   
    border: 4px solid white;
}

.anchor:before { 
	display: block; 
 	content: " "; 
  	height: 50px;      /* Give height of your fixed element */
        margin-top: -50px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}

.name {
  color: white;
  font-size: 20px;
}

.title {
  color: white;
  font-size: 15px;
}

.bio {
    color: transparent;
    font-size: 2px;
}