<div>
  <div class="" align="center">
      <hr />
      <h1>About Us</h1>
      <hr>
      <h5>Need to Fill</h5>
  </div>
  <br /><br /><br />
  <div class="flexcontainer tier1">
      <!-- Zach Eisenhauer -->
      <a href="https://www.linkedin.com/in/zacheisenhauer/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/zacheisenhauer.png" />
          <p class="name">Zach Eisenhauer</p><p class="title">Founder</p>
        </div>
        <div class="bio">
          <p>
            Zach Eisenhauer is a UNT Senior and is the founder of HackUNT.
            He has been president of the UNT IEEE Computer Society and UNT Cyber Security Club.
            He is majoring in Computer Science and could really use an energy drink right now.
          </p>
        </div>
      </a>

      <!-- Vanessa Esparza -->
      <a href="https://www.linkedin.com/in/vanessacesparza/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/vanessaesparza.jpg" />
          <p class="name">Vanessa Esparza</p><p class="title">Financial Coordinator</p>
        </div>
        <div class="bio">
          <p>
            
          </p>
        </div>
      </a>

       <!-- Brayden Cloud -->
       <a href="https://www.linkedin.com/in/brayden-cloud/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/braydencloud.png" />
          <p class="name">Brayden Cloud</p><p class="title">Co-founder + Web Developer</p>
        </div>
        <div class="bio">
          <p> 
            Brayden Cloud is a Freshman at UNT, and one of the founders of HackUNT. 
            He is majoring in Computer Science and prefers tabs over spaces.
          </p>
        </div>
      </a>

       <!-- Gabriel Castro -->
       <a href="https://www.linkedin.com/in/gabriel-castro-7806b014b/" target="_blank" class="flexbox">
        <div class="staff"><img class="staffimg" src="../../assets/staff/gabrielcastro.png" />
          <p class="name">Gabriel Castro</p><p class="title">Professional Outreach + Web Developer</p>
        </div>
        <div class="bio">
          <p>
            Gabriel Castro is a Freshman at UNT, and one of the founders of HackUNT.
             
          </p>
        </div>
      </a>

    </div>
  <br />
  <br />
  <div class="flexcontainer tier2">
    <!-- Zach Langley -->
    <a href="https://www.linkedin.com/in/z-langley/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/zachlangley.jpg" />
        <p class="name">Zach Langley</p><p class="title">Graphic and Web Designer</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

    <!-- Jesse Culver -->
    <a href="https://www.linkedin.com/in/jesseculver/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/jesseculver.png" />
        <p class="name">Jesse Culver</p><p class="title">UNT Cyber Security</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

    <!-- Peyton Pritchard -->
    <a href="https://www.linkedin.com/in/peyton-pritchard-cybersecurity/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/peytonpritchard.png" />
        <p class="name">Peyton Pritchard</p><p class="title">IEEE Computer Society</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

    <!-- Scotty Shaw -->
    <a href="https://www.linkedin.com/in/scottyshaw/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/scottyshaw.png" />
        <p class="name">Scotty Shaw</p><p class="title">Advisor</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

    <!-- Noelle Franklin -->
    <a href="https://www.linkedin.com/in/noelle-franklin/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/noellefranklin.png" />
        <p class="name">Noelle Franklin</p><p class="title">Photographer</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

    <!-- Chalet Shelton -->
    <a href="https://www.linkedin.com/in/chalet-shelton-077a0511b/" target="_blank" class="flexbox">
      <div class="staff"><img class="staffimg" src="../../assets/staff/chaletshelton.png" />
        <p class="name">Chalet Shelton</p><p class="title">Volunteer Coordinator</p>
      </div>
      <div class="bio">
        <p></p>
      </div>
    </a>

  </div>
</div>