<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" [ngx-scroll-to]="'#containerid'" [ngx-scroll-to-offset]="-50"><img class="navbarlogo" src="../../assets/logo_text_generic.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <!--  <li><a routerLink='/register'>REGISTER</a></li>
          <li><a href="https://goo.gl/forms/QVnGcxtKr2b2eueu1">VOLUNTEER</a></li> -->
          <!-- <li><a routerLink='/schedule'>SCHEDULE</a></li> -->
          <!-- <li><a routerLink='/information'>INFO</a></li> -->
          <!-- <li><a routerLink='/livestream'>LIVESTREAM</a></li> -->
          <li><a [ngx-scroll-to]="'#descriptionid'" [ngx-scroll-to-offset]="-50">ABOUT</a></li> 
          <li><a [ngx-scroll-to]="'#faqid'" [ngx-scroll-to-offset]="-50">FAQ</a></li> 
          <li><a [ngx-scroll-to]="'#sponsors2019id'" [ngx-scroll-to-offset]="-50">Sponsors</a></li>           
          <li><a [ngx-scroll-to]="'#sponsorid'" [ngx-scroll-to-offset]="-50">2018</a></li> 
          <!-- <li><a [ngx-scroll-to]="'#partnersid'" [ngx-scroll-to-offset]="-20">PARTNERS</a></li> -->
          <!-- <li><a [ngx-scroll-to]="'#contactid'" [ngx-scroll-to-offset]="-50">CONTACT</a></li>  -->
          <li><a [ngx-scroll-to]="'#aboutid'" [ngx-scroll-to-offset]="-50">TEAM</a></li>
          <!-- <li><a href="https://live.unthackathon.com">LIVE</a></li>  -->          
      </ul>
    </div>
  </div>
</nav>
