 .navbar-brand{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
  }
  
  .navbar-brand:hover {
    color: grey
  }
  
  a {
      color: #FFFFFF;
      font-family: "Raleway";
      font-size: 13px;
      font-weight: 700;
  }

  a:hover {
      color: grey
  }

  .navbar-inverse {
      background-color: rgb(32, 32, 32);
      border-style: none;
      border-radius: 0px;
      box-shadow: 0px 1px 5px rgb(0, 88, 1);
      padding-bottom: 0px;
      font-family: "Raleway";
  }
  .icon-bar{
      background-color: white;
  }