<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#containerid">{{ title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <!--  <li><a routerLink='/register'>REGISTER</a></li>
          <li><a href="https://goo.gl/forms/QVnGcxtKr2b2eueu1">VOLUNTEER</a></li> -->
          <!-- <li><a routerLink='/schedule'>SCHEDULE</a></li> -->
          <!-- <li><a routerLink='/information'>INFO</a></li> -->
          <!-- <li><a routerLink='/livestream'>LIVESTREAM</a></li> -->
          <li><a href="#faqid">FAQ</a></li>           
          <li><a href="#sponsorid">SPONSORS</a></li> 
          <li><a href="#partnersid">PARTNERS</a></li>
          <li><a href="#contactid">CONTACT</a></li> 
          <li><a href="#aboutid">ABOUT</a></li>
          <li><a href="https://live.unthackathon.com">LIVE</a></li>           
      </ul>
    </div>
  </div>
</nav>
