 .navbar-brand{
    color: #FFFFFF;
    font-weight: 700;
  }
  
  .navbar-brand:hover {
    color: grey
  }
  
  #nav-options {
      color: #FFFFFF;
      font-family: "Raleway";
      font-size: 13px;
  }

  #nav-options:hover {
      color: grey
  }

  .navbar-inverse {
      background-color: rgb(32, 32, 32);
      border-style: none;
      border-radius: 0px;
      box-shadow: 0px 1px 5px rgb(0, 88, 1);
      bottom-padding: 0px;
      font-family: "Raleway";
  }