<div class="container">
    <h1>CONTACT US</h1>
    <hr>
</div>
<div id="body-type">
  <div class="container">
  <p>You can email us at <a target="_blank" href="mailto:OfficialHackUNT@gmail.com">OfficialHackUNT@gmail.com</a>. 
    Make sure to check out our <a target="_blank" href="https://www.facebook.com/Hackunt">Facebook</a> 
     and get involved on <a target="_blank" href="https://twitter.com/Hackunt">Twitter</a> by using #HackUNT. 
  </div>
<br>
  <!-- Cards for Staff Members to be replaced by ngFor*-->
<!-- <div class="container">
  <h2>
    STAFF MEMBERS
  </h2>
  <hr>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4" id="topTier">
        <img src="../../assets/filler/200x200.png">
        <h4>FirstName LastName</h4>
        <hr>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
            Aliquam quis tincidunt massa, sit amet auctor mi. 
            Morbi dapibus ullamcorper nunc vitae tempor. 
            Curabitur in metus id dui auctor ultrices.
        </h5>
      </div>
      <div class="col-md-4" id="topTier">
        <img src="../../assets/filler/200x200.png">
        <h4>FirstName LastName</h4>
        <hr>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
            Aliquam quis tincidunt massa, sit amet auctor mi. 
            Morbi dapibus ullamcorper nunc vitae tempor. 
            Curabitur in metus id dui auctor ultrices.        </h5>
      </div>      
      <div class="col-md-4" id="topTier">
          <img src="../../assets/filler/200x200.png">
          <h4>FirstName LastName</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.          
          </h5>
      </div>   
  </div>
  <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" id="topTier">
          <img src="../../assets/staff/zachl.jpg">
          <h4>Zachary Langley</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.          
          </h5>
        </div>
        <div class="col-md-4" id="topTier">
          <img src="../../assets/filler/200x200.png">
          <h4>FirstName LastName</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.
          </h5>
        </div>      
        <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
        </div>   
    </div>
    <br>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
          </div>
          <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
          </div>      
          <div class="col-md-4" id="topTier">
              <img src="../../assets/filler/200x200.png">
              <h4>FirstName LastName</h4>
              <hr>
              <h5>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                  Aliquam quis tincidunt massa, sit amet auctor mi. 
                  Morbi dapibus ullamcorper nunc vitae tempor. 
                  Curabitur in metus id dui auctor ultrices.
              </h5>
          </div>   
      </div>
      <br>
    </div>-->