<div id="body">
    <hr />
    <h1>Contact Us</h1>
    <hr />    
    <p>You can email us at <a target="_blank" href="mailto:officialhackunt@gmail.com">hackunt@gmail.com</a>. 
      Make sure to check out our <a target="_blank" href="https://www.facebook.com/Hackunt">Facebook</a> 
       and get involved on <a target="_blank" href="https://twitter.com/Hackunt">Twitter</a> by using #HackUNT. 
       Join the <a target="_blank" href="https://hackunt.slack.com/">Slack</a> to keep up with any announcements!</p>
    <div id="contact">
      
      <div class="contactimg" id="fb">
        <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        <a href="https://www.facebook.com/Hackunt" target="_blank">
          <div class="overlay">
              <div class="text">Facebook</div>
          </div>
        </a>
      </div>
      
      <div class="contactimg" id="tw">
          <i id="social-tw" class="fa fa-twitter fa-3x social" target=_blank ></i>
          <a href="https://twitter.com/Hackunt" target="_blank">
            <div class="overlay">
                <div class="text">Twitter</div>
            </div>
          </a>
      </div>
      
      <div class="contactimg" id="em">
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
          <a href="mailto:hackunt@gmail.com" target="_blank">
            <div class="overlay">
                <div class="text">Email</div>
            </div>
          </a>
      </div>
      
      <div class="contactimg" id="sl">
          <i id="social-sl" class="fa fa-slack fa-3x social"></i>
          <a href="https://hackunt.slack.com" target="_blank">
            <div class="overlay">
                <div class="text">Slack</div>
            </div>
          </a>
      </div>    
      
      <div class="contactimg" id="rd">
          <i id="social-rd" class="fa fa-reddit-alien fa-3x social"></i>
          <a href="https://www.reddit.com/r/unt/" target="_blank">
            <div class="overlay">
                <div class="text">Reddit</div>
            </div>
          </a>
      </div>    
    </div>
    <br><br><br><br><br>    
  </div>
  <!-- Cards for Staff Members to be replaced by ngFor*-->
<!-- <div class="container">
  <h2>
    STAFF MEMBERS
  </h2>
  <hr>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4" id="topTier">
        <img src="../../assets/filler/200x200.png">
        <h4>FirstName LastName</h4>
        <hr>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
            Aliquam quis tincidunt massa, sit amet auctor mi. 
            Morbi dapibus ullamcorper nunc vitae tempor. 
            Curabitur in metus id dui auctor ultrices.
        </h5>
      </div>
      <div class="col-md-4" id="topTier">
        <img src="../../assets/filler/200x200.png">
        <h4>FirstName LastName</h4>
        <hr>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
            Aliquam quis tincidunt massa, sit amet auctor mi. 
            Morbi dapibus ullamcorper nunc vitae tempor. 
            Curabitur in metus id dui auctor ultrices.        </h5>
      </div>      
      <div class="col-md-4" id="topTier">
          <img src="../../assets/filler/200x200.png">
          <h4>FirstName LastName</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.          
          </h5>
      </div>   
  </div>
  <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" id="topTier">
          <img src="../../assets/staff/zachl.jpg">
          <h4>Zachary Langley</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.          
          </h5>
        </div>
        <div class="col-md-4" id="topTier">
          <img src="../../assets/filler/200x200.png">
          <h4>FirstName LastName</h4>
          <hr>
          <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
              Aliquam quis tincidunt massa, sit amet auctor mi. 
              Morbi dapibus ullamcorper nunc vitae tempor. 
              Curabitur in metus id dui auctor ultrices.
          </h5>
        </div>      
        <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
        </div>   
    </div>
    <br>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
          </div>
          <div class="col-md-4" id="topTier">
            <img src="../../assets/filler/200x200.png">
            <h4>FirstName LastName</h4>
            <hr>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                Aliquam quis tincidunt massa, sit amet auctor mi. 
                Morbi dapibus ullamcorper nunc vitae tempor. 
                Curabitur in metus id dui auctor ultrices.
            </h5>
          </div>      
          <div class="col-md-4" id="topTier">
              <img src="../../assets/filler/200x200.png">
              <h4>FirstName LastName</h4>
              <hr>
              <h5>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Etiam tempus imperdiet lorem, ac egestas mauris ullamcorper eget. 
                  Aliquam quis tincidunt massa, sit amet auctor mi. 
                  Morbi dapibus ullamcorper nunc vitae tempor. 
                  Curabitur in metus id dui auctor ultrices.
              </h5>
          </div>   
      </div>
      <br>
    </div>-->