.container{
    text-align: center;
}
#body-type
{
    background-color: rgba(0, 0, 0, 0.504);
    color: white;
    font-size: 14pt;  
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 1%;
}

h1
{
    color: white;
    font-weight: bold;
    text-align: center;  
}

#contact
{
    margin-top: 20px;
    width: 100%;
}

.btn-text{
    color: black;
}
.btn {
    margin-top: 10px;
}

p
{
    line-height: 200%;
}

p a
{
    color: #07a24f;
}

p a:hover
{
    color: #D48359;
}

.contactimg
{
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(5, 122, 60, .75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .contactimg:hover .overlay {
    height: 110%;
  }