<div class="container">
    <h1>CONTACT US</h1>
    <hr>
</div>
<div id="body-type">
  <div class="container">
  <p>You can email us at <a target="_blank" href="mailto:hackunt@gmail.com">hackunt@gmail.com</a>. 
    Make sure to check out our <a target="_blank" href="https://www.facebook.com/Hackunt-824637174411012/">Facebook</a> 
     and get involved on <a target="_blank" href="https://twitter.com/Hackunt">Twitter</a> by using #HackUNT. 
     Join the <a target="_blank" href="https://hackunt.slack.com/">Slack</a> to keep up with any announcements!</p>
  <div id="contact">
  </div>
</div>
</div>