<div>
    <div class="" align="center">
        <hr />
        <h1>OUR SPONSORS</h1>
        <hr>
        <h5>HackUNT's vision is to give back to the community and help spread innovation and creativity though students.</h5>
        <h5>If you'd like to be part of this movement, we'd love to have you sponsor</h5>
    </div>
    <div class="" align="center">
        <div class="row">
            <!-- Links to files to be pasted here -->
            <a id="sponsorus" href="../assets/files/HackUNTSponsorForm.pdf" target="_blank"><button class="btn">SPONSOR US</button></a>
            <!-- <button class="btn" href="#contactId">LEARN MORE</button> -->
        </div>
    </div>
    <br /><br /><br />
    <div class="flexcontainer tier1">
        <a href="https://chilosomexicanbistro.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/chilosologo.png" /></div></a>
    </div>
    <br />
    <br />
    <div class="flexcontainer tier2">
        <a href="https://www.jcpenney.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/jcpenney_logo.svg" /></div></a>        
        <a href="https://www.engineering.unt.edu/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/ceng.png" /></div></a>
        <a href="https://www.engineering.unt.edu/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/STEMatthePark.png" /></div></a>        
    </div>
    <br />
    <br />
    <br />
    <div class="flexcontainer tier3">
        <a href="http://get.tech/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/dottech.svg" /></div></a>
        <a href="https://www.digitalocean.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/DO_Logo.svg" /></div></a>
        <a href="https://www.samsung.com/us/support/owners/app/samsung-internet" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/logo-Samsung-Dark_Font.svg"/></div></a>      
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="flexcontainer tier4">
        <a href="https://www.soylent.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/soylent.svg" /></div></a>
        <a href="https://www.highbrewcoffee.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/HB_Logo.svg" /></div></a>                
        <a href="http://www.wolfram.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/wolfram-logo.svg" /></div></a>
        <a href="https://www.stickeryou.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/StickerYouLogo.png" /></div></a>
    </div>
    <div class="" align="center">
        <hr />
        <h1>OUR PARTNERS</h1>
        <hr>
    </div>
    <br />
    <div class="flexcontainer tier2">
        <a href="https://mlh.io/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/mlh-logo-color.png" /></div></a>
        <a href="https://untieeecs.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/IEEE-Computer-Society-Logo.png" /></div></a>
        <a href="https://untcybersecurity.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/UNTCyberSecurityClubLogo.png" /></div></a>
    </div>
    <br><br><br><br>
</div>