<div class="container" align="center">
    <h1>OUR SPONSORS</h1>
    <hr>
    <h5>HackUNT's vision is to give back to the community and help spread innovation and creativity though students.</h5>
    <h5>If you'd like to be part of this movement, we'd love to have you sponsor</h5>
</div>
<div class="container" align="center">
    <div class="row">
        <!-- Links to files to be pasted here -->
        <button class="btn" href="">SPONSOR US</button>
        <button class="btn" routerLink="/contact">LEARN MORE</button>
    </div>
</div>
<br>

<div class="container" id="sponsors" align="center">
    <br>
    <div class="row">
      <div class="" id="topTier">
        <img src="../../assets/sponsors/logo-Samsung-Dark_Font.svg">
       </div>
    </div>
    <br>
    <div class="" id="midTier">
        <div class="row">

        </div>
    </div>

    <div class="" id="lowTier">
        <div class="row">
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>