<div class="sponsor-container">
    <div class="content">
        <h1>2018's Sponsors</h1>
        <div>
            <h4>Interested in sponsoring HackUNT 2020? <a href="../../assets/files/HackUNT_2020_Sponsorship_Doc.pdf" target="_blank">Look at this!</a></h4>
            <h4>Big thanks to all the sponsors of HackUNT 2018!</h4>
        </div>

        <div class="flexcontainer">
            <a href="https://chilosomexicanbistro.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/chilosologo.png" /></div></a>
            <a href="https://www.jcpenney.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/jcpenney_logo.svg" /></div></a>        
            <a href="https://www.engineering.unt.edu/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/ceng.png" /></div></a>        
            <a href="https://institutionalresearch.unt.edu/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/DAIR_INSIGHTS_STACKED.png" /></div></a>
            <a href="https://www.engineering.unt.edu/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/STEMatthePark.png" /></div></a>
            <a href="https://www.tylertech.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/tylertech.png" /></div></a>        
            <a href="http://get.tech/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/dottech.svg" /></div></a>
            <a href="https://www.digitalocean.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/DO_Logo.svg" /></div></a>
            <a href="https://www.samsung.com/us/support/owners/app/samsung-internet" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/logo-Samsung-Dark_Font.svg"/></div></a>
            <a href="https://standardusercybersecurity.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/standard.png"/></div></a>
            <a href="https://www.soylent.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/soylent.svg" /></div></a>
            <a href="https://www.highbrewcoffee.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/HB_Logo.svg" /></div></a>                
            <a href="http://www.gogosqueez.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/gogosqueeze.svg" /></div></a>        
            <a href="http://www.wolfram.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/wolfram-logo.svg" /></div></a>
            <a href="https://www.stickeryou.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/StickerYouLogo.png" /></div></a>
            <a href="https://www.premiumpopperspopcorn.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/prempopcorn.svg" /></div></a>        
        </div>

        <div id="partnersid" class="anchor">
            <h1>Our Partners</h1>
        </div>
        <div class="flexcontainer">
            <a href="https://mlh.io/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/mlh-logo-color.png" /></div></a>
            <a href="https://untieeecs.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/IEEE-Computer-Society-Logo.png" /></div></a>
            <a href="https://untcybersecurity.com/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/UNTCyberSecurityClubLogo.png" /></div></a>
            <a href="http://www.library.unt.edu/spaces/factory/" target="_blank" class="flexbox"><div><img class="sponsor" src="../../assets/sponsors/TheFactorywEagle-01.png" /></div></a>
        </div>
    </div>
</div>