<div class="container">
  <div class="logo"><img src="../../assets/logo.png"></div>
  <hr> 
  <h3> {{ StartDate }} - {{ EndDate }}</h3>
  <app-countdown></app-countdown>
  <div class="row">
    <button class="btn" routerLink="/register">
      REGISTER
    </button>
    <button class="btn" routerLink="/sponsors">
      SPONSORS
    </button>
  </div>
  <br />
  <app-description></app-description>
  <app-faq></app-faq>
  <!-- <app-sponsor></app-sponsor> -->
  <hr />
  <h1>Our Sponsors</h1>
  <hr />
  <div class="flexcontainer">
    <a href="https://www.samsung.com/us/support/owners/app/samsung-internet" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/logo-Samsung-Dark_Font.svg"/></div></a>
    <a href="http://get.tech/" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/dottech.svg" /></div></a>
    <a href="https://www.soylent.com/" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/soylent.svg" /></div></a>
    <a href="http://www.wolfram.com/" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/wolfram-logo.svg" /></div></a>
    <a href="https://www.stickeryou.com/" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/StickerYouLogo.svg" /></div></a>
    <a href="https://www.digitalocean.com/" target="_blank"><div class="flexbox"><img class="sponsor" src="../../assets/sponsors/DO_Logo.svg" /></div></a>
  </div>
  <app-mlh></app-mlh>
</div>
<!-- Sponsors -->
<br>
<br>
<br>