<div class="container anchor" id="containerid"> <!-- container anchor -->
  <app-logo></app-logo>
  <!-- <h3> {{ StartDate }} <a href="http://ismycomputeron.net/" target="_blank" class="nothyperlink"> - </a> {{ EndDate }} </h3> -->
  <!-- <app-countdown></app-countdown> -->
  <!-- <h3>Doors open at 5pm</h3> -->
   <!-- <button class="btn" routerLink="/register">
      REGISTER
    </button> 
    <a href="https://goo.gl/forms/QVnGcxtKr2b2eueu1">
      <button class="btn">
        VOLUNTEER
      </button>
    </a> -->
  <app-description class="anchor" id="descriptionid"></app-description>
  <app-faq class="anchor" id="faqid"></app-faq>
  <app-sponsor class="anchor" id="sponsorid"></app-sponsor>
  <!-- <app-contact class="anchor" id="contactid"></app-contact> -->
  <app-about class="anchor" id="aboutid"></app-about>
  <!-- <app-mlh></app-mlh> -->
</div>
<!-- Sponsors -->
