@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
h1, h2, h4 {
    font-family: "Raleway";
    font-weight: 700;
    color: white;
}

html, body
{
  background-color: rgba(0, 0, 0, 0.504);
  max-height: 100%;
  height: 100%
}