.timercanvas
{
    border: solid;
    border-color: black;
    background-color: white;
    width: 100px;
    height: 345px;
}

.label
{
    border: solid;
    border-color: yellow;
}

.facesegment
{
    float: left;
    text-align: center;
    vertical-align: top;
    border: solid;
    border-color: orange;
}

#timer
{
    display: inline-block;
    border: solid;
    border-color: red;
}
.img {
    border: solid;
    border-color: black;
}
#timercontainer
{
    text-align: center;
}
