.logocontainer {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #07a24f;
}

#datelogo {
    /* width: 50vw; */
    margin: auto;
    margin-top: 9%;
    padding: 1em;
    max-width: 750px;
}

#dateloc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#apply {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
}

#union {
    width: 50%;
    height: auto;
}

#buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 750px;
    margin-bottom: 1%;
}

.btn {
    background-color: #000000;
    color: white;
    border-radius: 7px;
    /* border-color: black; */
    padding: 10px, 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 3em;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgb(0, 88, 1);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

button:hover{
    /* background-color: #07a24f; */
    background-color: white;
    color: black;
}

.logo {
    display: block;
    width: 70%;
    height: auto;
    z-index: 5;
    position: relative;
    margin: -80px auto 0 auto;
}

.button {
    padding: 14px;
    border-radius: 3px;
    border: #000 3px solid;
    font-size: 1.3em;
    background-color: #0004;
    transition: background-color 0.2s;
    width: 554px;
    max-width: 95%;
    margin: 20px auto;
    color: #fff;
}

.button:hover {
    background-color: #0006;
}

.cloud {
    position: absolute;
}

#cloud1 {
    width: 12vw;
    height: auto;
    animation: cloudanim;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

#cloud2 {
    width: 10vw;
    height: auto;
    animation: cloudanim;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

#cloud3 {
    width: 10vw;
    height: auto;
    animation: cloudanim;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloudanim{
    0% { left: -14vw; }
    100% { left: 110vw; }
}

@media screen and (max-width: 480px) {
    h2, h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        margin-top: 0;
    }

    .button {
        width: 400px;
    }

    #dateloc h2, #dateloc a {
        width: 100%;
        text-align: center;
    }
}
