<div class="logocontainer">
    <div id="datelogo">
      <img class="cloud" id="cloud1" src="../../assets/cloud.png">
      <img class="logo" src="../../assets/logo_text_2019_2.png">
      <div id="dateloc">
        <h2>February 15-16, 2020</h2>
        <a href="https://goo.gl/maps/fYCFEUMP1Us" target="_blank"><h2>Discovery Park</h2></a>
      </div>
    </div>
    <img class="cloud" id="cloud2" src="../../assets/cloud.png">
    <div id="apply">
      <div id="buttoncontainer">
        <!-- <a href="https://hackunt.typeform.com/to/F9yGHj"><button class="btn">Register Now</button></a> -->
        <!-- <a href="https://hackunt.typeform.com/to/cx04uf"><button class="btn">Volunteer</button></a> -->
        <!-- <a href="https://live.unthackathon.com/"><button class="btn">Live Site</button></a> -->
        <h2>HackUNT 2019 was one for the books</h2>
        <h2>A big thank you to everyone who participated!</h2>
      </div>
      <!-- <h2>Come back February 1st to apply!</h2> -->
      <!-- <h3>Interested in <a href="../../assets/files/HackUNTSponsorForm_2019.pdf" target="_blank">sponsoring</a>?</h3> -->
    </div>
    <img class="cloud" id="cloud3" src="../../assets/cloud.png">
</div>