<div class="logocontainer">
    <div id="datelogo">
      <img class="cloud" id="cloud1" src="../../assets/cloud.png">
      <img class="logo" src="../../assets/logo.svg">
      <div id="dateloc">
        <h2>February 15-16, 2020</h2>
        <a href="https://goo.gl/maps/fYCFEUMP1Us" target="_blank"><h2>Discovery Park</h2></a>
      </div>
    </div>
    <img class="cloud" id="cloud2" src="../../assets/cloud.png">
    <div id="apply">
      <app-mailchimp-form></app-mailchimp-form>
      <!-- <h3>Interested in <a href="../../assets/files/HackUNTSponsorForm_2019.pdf" target="_blank">sponsoring</a>?</h3> -->
    </div>
    <img class="cloud" id="cloud3" src="../../assets/cloud.png">
</div>