<div class="desc-container">
  <div class="content">
    <h1>What is HackUNT?</h1>
    <p id="desc">
      HackUNT is the University of North Texas' annual hackathon. A hackathon is a 24-hour development competition 
      for coders, designers, and anyone with a good idea! Don't worry if you aren't experienced either,
      HackUNT is a great place to learn! We will have mentors and professionals from the industry to help along the way.
      Our team has been working tirelessly to make HackUNT 2019 a fun and rewarding event. So come by if you want to learn, 
      get free food, and maybe win some prizes! HackUNT will take place from February 15th to the 16th at 
      <a class="lnk" target="_blank" routerLink="information">
        Discovery Park</a> in Denton, TX.
    </p>
    <!-- <p>Click the button above to Register and secure your spot at HackUNT!</p> -->
    <p id="slack">Make sure to join us on <a target="_blank" href="https://discordapp.com/invite/QXvVNYd">Discord</a>.</p>
  </div>
</div>
