<div class="desc-container">
  <h2>Welcome to HackUNT</h2>
  <hr>
  <p>
    We're excited to bring to you UNT's very first 48-hour hackathon, a 
    development competition for coders, designers, and anyone with a 
    good idea! HackUNT will take place from February 9th to the 11th at 
    <a class="lnk" target="_blank" routerLink="information">
      Discovery Park</a> in Denton, TX.
  </p>
  <br />
  <p>Click the button above to Register and secure your spot at HackUNT!</p>
  <p>You can also join us on <a target="_blank" href="https://hackunt.slack.com">Slack</a>.</p>
</div>
