@media only screen and (max-width: 1000000px) {
    p {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 25px;
    }
}
  
@media only screen and (max-width: 320px) {
    p {
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
}

h1, h2 {
    color: white;
    text-align: center;
    font-weight: 700;
}

p {
    /* text-indent: 2.0em; */
    line-height: 200%;
}

.desc-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    text-align: left;
    color: white;
    background-color: black;
    margin: auto;
    /* font-size: 14pt; */
}

.desc-container h1 {
    display: inline-block;
}

.content {
    padding: 10% 15% 5% 13%;
    max-width: 1600px;
    margin: 0 auto
}

p {
    margin-top: 2%;
}

a:link {
    color:#07a24f;
}
a:visited {
    color: #07a24f;
}
a:hover {
    /* color: #D48359; */
    color: #07a24f;
}