<div class="desc-container">
  <hr />
  <h1>Welcome to HackUNT</h1>
  <hr />
  <p>
    We're excited to bring to you UNT's 2nd annual hackathon, a 24-hour
    development competition for coders, designers, and anyone with a 
    good idea! HackUNT will take place from April 6th to the 7th at 
    <a class="lnk" target="_blank" routerLink="information">
      Discovery Park</a> in Denton, TX.
  </p>
  <!-- <p>Click the button above to Register and secure your spot at HackUNT!</p> -->
  <p>You can also <a target="_blank" href="https://hackunt.slack.com">join us on Slack</a>.</p>
  <br />
</div>
